.header {
    margin-top: 10px;
    background-color: blanchedalmond;
    height: 100px;
    padding: auto;
}

.header nav a {
    margin: 10px;
    text-decoration: none;
    color: black;
    font-size: 20px;
    padding-top: 50px;
}

.header nav a:hover {
    color: goldenrod;
}